.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

CIC-IDS-2017
1_Preliminary_Experiments/Notebooks/models/*
CIC-IDS-2018
1_Preliminary_Experiments/Notebooks/hyperparam_tuning/
1_Preliminary_Experiments/Notebooks/hyperparam_tuning_hypermodel*/
1_Preliminary_Experiments/Notebooks/tuner_dir/

