.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

Prototype/Notebooks/CIC-IDS-2017
Prototype/Notebooks/models/*
Prototype/Notebooks/CIC-IDS-2018
Prototype/Notebooks/hyperparam_tuning/
Prototype/Notebooks/hyperparam_tuning_hypermodel*/
Prototype/Notebooks/tuner_dir/

